html{
    background-color: palevioletred;
}
.container-videos{
    display: flex;
    justify-content: space-evenly;

}
video{
    width: 250px;
    height: 150px;
}
.container-header{
    width: 100%;
    height: 250px;
    background-color: lightgoldenrodyellow;
}
.container-section-promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}
.item-article{
    width: 30%;
    height: 250px;
    background-color: palegreen;
}