html{
    background-color: palevioletred;
}
.container-videos{
    display: flex;
    justify-content: space-evenly;

}
video{
    width: 250px;
    height: 150px;
}
.container-header{
    display: flex;
    width: 100%;
    height: 250px;
    margin-bottom: 50px;
    background-color:  rgb(205, 245, 153);
    justify-content: center;
}
.container-section-promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}
.item-article{
    width: 30%;
    height: 250px;
    background-color: palegreen;
}
.container-publicidad{
    display: flex;
    background-color: rgb(240, 131, 167);
    margin: 20px;
    padding: 50px;
    align-items: center;
}
button{
    color: whitesmoke;
    background-color: rgb(190, 10, 70);
    border: none;
    border-radius: 5px;
    padding: 10px;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(190, 10, 70);
}
.column {
    margin-right: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: whitesmoke;
}