html{
    background-color: palevioletred;
}
.container-header{
    width: 100%;
    height: 250px;
    background-color: lightgoldenrodyellow;
}
.container-multimedia{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 50px;
}
.container-video{
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items: center;
}
.container-section-promo{
    display: flex;
    width: 70%;
    margin: 100px auto;
    align-items: center;
    justify-content: center;
}
.item-article{
    width: 30%;
    height: 250px;
    background-color: palegreen;
}
